.section-form {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.493);
  height: 80%;
  border-radius: 20px;
  flex-direction: column;
  justify-content: start;
}
h2 {
  font-size: 3rem;
}
.h2-div {
  background-color: rgba(0, 0, 255, 0.479);
  width: 100%;
  border-radius: 19px 19px 0 0;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.404);
}
form {
  margin-top: 8%;
  width: 80%;
}
label {
  font-size: 2rem;
}
input {
  margin: 10px;
}
.input-strech {
  width: 60%;
}
/* button */
.div-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.false-button {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.507);
  background-color: rgba(255, 0, 0, 0.596);
  border-radius: 2px;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}
button {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.507);
  background-color: rgba(0, 0, 255, 0.596);
  border-radius: 2px;
  font-size: 1.8rem;
  color: white;
}
button:hover,
.false-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
