/* variable */
:root {
  --font-family: "Open Sans", "sans-serif";
  --background-color-principale: #3366889d;
}
/* reset page */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* contenu */
.header-bot {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.header-top {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  position: relative;
}
header ul {
  list-style: none;
  display: flex;
}
header li {
  padding: 0 20px 0 20px;
  border: 1px solid blue;
}
h1 {
  font-size: 2.6rem;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
section p {
  font-size: 2rem;
}
footer {
  background-color: var(--background-color-principale);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
footer p {
  font-size: 1.2rem;
  padding-right: 5px;
}
/* logo */
.logo-box {
  background-color: rgb(63, 26, 63);
  width: 200px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
/* design lien */
header a {
  text-decoration: none;
}
.logo {
  color: white;
  font-size: 2rem;
}
li a {
  font-size: 1.6rem;
}
header ul a:hover {
  transition: 0.5s;
  background-color: orange;
  color: white;
}
/* background */
.header-top {
  background-color: var(--background-color-principale);
}
.error {
  padding: 10px;
  border: 1px solid rgba(255, 0, 0, 0.705);
  background: rgba(209, 14, 14, 0.623);
  border-radius: 5px;
  text-align: center;
  margin: 10px 40px 10px 40px;
}
.show-role {
  position: fixed;
  top: 10%;
  right: 0;
  padding: 5px;
  margin-right: 20px;
  border: 1px inset black;
  background-color: rgba(48, 156, 199, 0.603);
  color: rgba(255, 255, 255, 0.849);
  text-align: center;
  border-radius: 5px;
}
.show-role p {
  margin: 5px;
}
